<div class="clearfix">
  <button class="btn btn-sm btn-primary pull-right" ui-sref="signup"> Add </button>
</div>
<div class="spug-container">
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div>
