<div class="spug-container">
  <form ng-submit="partsCtrl.submit(partsCtrl.item)">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Basic Information</h3>
        </div>
        <div class="panel-body">
          <div class="form-group col-md-12">
            <div class="col-md-6 no-left-padding">
              <select class="form-control">
                <option>Equipment Category</option>
              </select>
              <label for="Measurement">
                <small> Equipment Discipline </small>
              </label>
            </div>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="code" placeholder="Stock Code(Automatic)" ng-model="partsCtrl.item.code" disabled>
            <label for="code"> <small> Stock Code </small></label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Part Item No." ng-model="partsCtrl.item.partNo">
            <label for="partNo"> <small> Part Item Number (PIN) </small> </label>
          </div>
          <div class="form-group col-md-offset-6 col-md-6">
            <input type="text" class="form-control" id="mpn" placeholder="Manufacturers Part No">
            <label for="mpn"> <small> Manufacturers Part Number (MPN) </small> </label>
          </div>
          <div class="form-group col-md-6">
            <textarea class="form-control" id="itemName" placeholder="Description" ng-model="partsCtrl.item.name" row="2" style="height: 90px;"> </textarea>
            <label for="itemName"> <small> Spare Part Description </small> </label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="mpn" placeholder="Utility Part No">
            <label for="mpn"> <small> Utility Part Nummber (UPN)</small> </label>
            <input type="text" class="form-control" id="mpn" placeholder="Qty Requirement">
            <label for="mpn"> <small> Quantity Requirement </small> </label>
          </div>
          <div class="form-group col-md-6">
            <textarea class="form-control" id="itemName" placeholder="Specification" row="2" style="height: 90px;"> </textarea>
            <label for="itemName"> <small> Specification </small> </label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="mpn" placeholder="Min Stock Level">
            <label for="mpn"> <small> Minimum Stock Level </small> </label>
            <input type="text" class="form-control" id="mpn" placeholder="Reordering Level">
            <label for="mpn"> <small> Reordering Level </small> </label>
            <input type="text" class="form-control" id="mpn" placeholder="Max Stock Level">
            <label for="mpn"> <small> Max Stock Level </small> </label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>MeasurementID</option>
            </select>
            <label for="Measurement">
              <small> Measurement </small>
            </label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>StorageLevelID</option>
            </select>
            <label for="Measurement">
              <small> Storage Level </small>
            </label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>ClassificationID</option>
            </select>
            <label for="Measurement">
              <small> Classification </small>
            </label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>UsageFreqID</option>
            </select>
            <label for="Measurement">
              <small> Usage Frequency </small>
            </label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>StorageLevelID</option>
            </select>
            <label for="Measurement">
              <small> Storage Level </small>
            </label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>MaintFreqID</option>
            </select>
            <label for="Measurement">
              <small> Maintanance Frquency </small>
            </label>
          </div>

          <!-- <div class="form-group col-md-6">
            <label for="partNo">Unit Cost</label>
            <input type="number" class="form-control" placeholder="Unit Cost" ng-model="partsCtrl.item.unitCost">
          </div> -->
          <!-- <div class="form-group col-md-2">
            <label for="Measurement">Measurements</label>
            <select class="form-control" ng-model="partsCtrl.item.unitOfMeasurement" ng-options="measurement.id as measurement.name for measurement in partsCtrl.measurements">
            </select>
          </div> -->
          <!-- <div class="form-group col-md-2">
            <label for="Measurement">Measurements</label>
            <select class="form-control" ng-model="partsCtrl.item.unitOfMeasurement">
              <option>pc(s)</option>
              <option>kg(s)</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="Measurement">Year</label>
            <select class="form-control" ng-model="partsCtrl.item.year">
              <option>2017</option>
              <option>2016</option>
            </select>
          </div> -->


          <!-- <div class="form-group col-md-4">
            <label for="Measurement">Category</label>
            <select class="form-control" ng-model="partsCtrl.item.category" ng-options="category as category.label for category in partsCtrl.categories">
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="Measurement">Component No.</label>
            <select class="form-control" ng-model="partsCtrl.item.componentId">
              <option ng-repeat="compNo in partsCtrl.compNos">{{compNo}}</option>
            </select>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span ng-if="!partsCtrl.itemType"> Electrical </span>
            <span ng-if="partsCtrl.itemType"> Mechanical </span>
          </h3>
        </div>
        <div class="panel-body">
        <!-- Start Electrical Additional Form -->
          <div class="form-group col-md-4" ng-if="!partsCtrl.itemType">
            <label for="partNo">Electrical</label>
            <input type="number" class="form-control" placeholder="Electrical" ng-model="partsCtrl.item.electrical">
          </div>
          <div class="form-group col-md-4" ng-if="!partsCtrl.itemType">
            <label for="Measurement">Electrical Type</label>
            <select class="form-control" ng-model="partsCtrl.item.elecType" ng-options="elecType as elecType.label for elecType in partsCtrl.elecTypes">
            </select>
          </div>
          <div class="form-group col-md-4" ng-if="!partsCtrl.itemType">
            <label for="partNo">6th</label>
            <input type="text" class="form-control" placeholder="6th" ng-model="partsCtrl.item.other">
          </div>
          <div class="form-group col-md-4" ng-if="!partsCtrl.itemType">
            <label for="Measurement">Facility</label>
            <select class="form-control" ng-model="partsCtrl.item.facilityDd" ng-options="facility as facility.label for facility in partsCtrl.facilities">
            </select>
          </div>
          <div class="form-group col-md-4" ng-if="!partsCtrl.itemType">
            <label for="Measurement">Facility Type</label>
            <select class="form-control" ng-model="partsCtrl.item.facilityTypeDd" ng-options="facilityType as facilityType.label for facilityType in partsCtrl.facilityTypes">
            </select>
          </div>
          <div class="form-group col-md-4" ng-if="!partsCtrl.itemType">
            <label for="Measurement">Output Voltage</label>
            <select class="form-control" ng-model="partsCtrl.item.outVoltage" ng-options="outVoltage as outVoltage.label for outVoltage in partsCtrl.outVoltages">
            </select>
          </div>
          <!-- End Electrical Additional Form -->
          <!-- Start Mechanical Additional Form -->
          <div class="form-group col-md-4" ng-if="partsCtrl.itemType">
            <label for="partNo">Mechanical</label>
            <input type="number" class="form-control" placeholder="Mechanical" ng-model="partsCtrl.item.mechanical">
          </div>
          <div class="form-group col-md-4" ng-if="partsCtrl.itemType">
            <label for="partNo">Mechanical Spares</label>
            <input type="text" class="form-control" placeholder="Mechanical Spares" ng-model="partsCtrl.item.mechanicalSpares">
          </div>
          <div class="form-group col-md-4" ng-if="partsCtrl.itemType">
            <label for="partNo">7th</label>
            <input type="number" class="form-control" placeholder="7th" ng-model="partsCtrl.item.other">
          </div>
          <div class="form-group col-md-6" ng-if="partsCtrl.itemType">
            <label for="Measurement">Brands</label>
            <select class="form-control" ng-model="partsCtrl.item.brandDd" ng-options="brand as brand.label for brand in partsCtrl.brands">
            </select>
          </div>
          <div class="form-group col-md-6" ng-if="partsCtrl.itemType">
            <label for="Measurement">Capacity</label>
            <select class="form-control" ng-model="partsCtrl.item.capacityDd" ng-options="capacity as capacity.label for capacity in partsCtrl.capacities">
            </select>
          </div>
          <!-- End Mechanical Additional Form -->
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-long pull-right">Submit</button>
  </form>
</div>
