<div class="spug-container">
  <div class="clearfix">
    <h3>
      Receiving
    </h3>
  </div>
  <div class="widget">
    <table class="table table-condensed table-hover">
      <tr>
        <th> Date </th>
        <th> Request By </th>
        <th> Source </th>
        <th> Approved By </th>
        <th> Status </th>
        <th> Items </th>
        <th></th>
      </tr>
      <tr ng-repeat="request in acqList.requestList">
        <td> {{request.updatedAt | date: 'short'}} </td>
        <td> {{request.createdBy.name}} </td>
        <td> {{request.source.name}} </td>
        <td> {{request.approvedBy.name}} </td>
        <td>
          <label class="label" ng-class="{'label-warning' : request.status === 'pending', 'label-success' : request.status === 'approved' || 'received'}">
            {{request.status}}
          </label>
        </td>
        <td>
          <ul>
            <li ng-repeat="item in request.items"> {{item.item.name}} - {{item.quantity}} </li>
          </ul>
        </td>
        <td>
          <button class="btn btn-sm btn-success" ui-sref="acquisition({ id: request._id})" ng-if="request.status !== 'received'"> confirm </button>
        </td>
      </tr>
    </table>
  </div>
</div>

