 <!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="nav.toggleSidebar()">
        SPUG
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-title"><span>NAVIGATION</span></li>
    <li class="sidebar-list">
      <a ui-sref="main">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
    </li>
    <li class="sidebar-list" ng-if="nav.getCurrentUser().role === 'superadmin'">
      <a ui-sref="parts"> Parts <span class="menu-icon fa fa-table"></span></a>
    </li>
    <!-- <li class="sidebar-list" ng-if="nav.getCurrentUser().role === 'superadmin'">
      <a ui-sref="plants-list"> Plants <span class="menu-icon fa fa-map-signs"></span></a>
    </li> -->
    <li class="sidebar-list" ng-if="nav.getCurrentUser().role === 'superadmin'">
      <a ui-sref="admin"> Users <span class="menu-icon fa fa-users"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="inventory"> Inventory <span class="menu-icon fa fa-cube"></span></a>
    </li>
    <li class="sidebar-list" ng-if="nav.getCurrentUser().role === 'superadmin'">
      <a ui-sref="history-list"> History <span class="menu-icon fa fa-history"></span></a>
    </li>
    <li class="sidebar-list" ng-if="nav.getCurrentUser().role !== 'superadmin'">
      <a ui-sref="requisition-list"> Request <span class="menu-icon fa fa-tasks"></span></a>
    </li>
    <li class="sidebar-list" ng-if="nav.getCurrentUser().role !== 'superadmin'">
      <a ui-sref="acquisition-list"> Receive <span class="menu-icon fa fa-download"></span></a>
    </li>
    <!-- <li class="sidebar-list">
      <a ui-sref="acquisition-list"> Receive <span class="menu-icon fa fa-history"></span></a>
    </li> -->
  </ul>
  <!-- <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular" target="_blank">
        Github
      </a>
    </div>
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
        About
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#">
        Support
      </a>
    </div>
  </div> -->
</div>
<!-- End Sidebar -->
<!-- Header Bar -->
<div class="row header">
  <div class="col-xs-12">
    <div class="user pull-right">
      <div class="item dropdown" uib-dropdown>
        <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
          <img src="assets/images/icon-user-default.png">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            {{nav.getCurrentUser().name}}
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">
              Profile
            </a>
          </li>
          <li class="link">
            <a href="#">
              Menu Item
            </a>
          </li>
          <li class="link">
            <a href="#">
              Menu Item
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#" ng-click="nav.logout()">
              Logout
            </a>
          </li>
        </ul>
      </div>
      <div class="item dropdown" uib-dropdown>
       <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
          <i class="fa fa-bell-o"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            Notifications
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Server Down!</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="meta">
      <div class="page">
        Dashboard
      </div>
      <div class="breadcrumb-links">
        <span ng-repeat="crurmb in nav.Breadcrumb.get()"> / <a href="{{crumb.url}}">{{crurmb.breadcrumb.title}}</a></span>
      </div>
    </div>
  </div>
</div>
<!-- End Header Bar -->
