<div class="spug-container">
  <form ng-submit="plant.submit(plant.plant)">
    <h2 class="no-margin"> Add Plant </h2>
    <div class="widget clearfix">
      <div class="form-group col-md-12">
        <label for="itemName">Item Name</label>
        <input type="text" class="form-control" id="itemName" placeholder="Plant Name" ng-model="plant.plant.name">
      </div>
      <div class="form-group col-md-12">
        <label for="itemName">Item Name</label>
        <textarea class="form-control" placeholder="Plant Description" ng-model="plant.plant.description"> </textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="itemName">Plant Latitude</label>
        <input type="number" class="form-control col-md-6" id="itemName" placeholder="Latitude" ng-model="plant.plant.location.coordinates[1]">
      </div>
      <div class="form-group col-md-6">
        <label for="itemName">Plant Longitude</label>
        <input type="number" class="form-control col-md-6" id="itemName" placeholder="Longitude" ng-model="plant.plant.location.coordinates[0]">
      </div>
    </div>
    <button class="btn btn-primary pull-right"> Submit </button>
  </form>
</div>
