<div class="spug-container">
  <div class="clearfix">
    <h3>
      ITEMS
      <button class="btn btn-primary pull-right" ui-sref="item({itemType: 'mechanical'})">
        Add Mechanical Item
        <span class="fa fa-plus"> </span>
      </button>
      <button class="btn btn-primary pull-right" ui-sref="item({itemType: 'electrical'})">
        Add Electrical Item
        <span class="fa fa-plus"> </span>
      </button>
    </h3>
  </div>
  <div class="widget">
    <table class="table table-condensed">
      <tr>
        <th> ID </th>
        <th> Item Stock Code </th>
        <th> Item Name </th>
        <th> Item Year </th>
        <th> Unit of Measurement </th>
        <th></th>
      </tr>
      <tr ng-repeat="item in itemList.items">
        <td>{{item._id}}</td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.year}}</td>
        <td>{{item.unitOfMeasurement}}</td>
        <td>
          <button class="btn btn-small btn-warning" ui-sref="item({itemType: item.mechanical ? 'mechanical' : 'electrical', id: item._id})">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
          <button class="btn btn-small btn-danger" ng-click="itemList.delete(item)">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
